.background {
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/arena/grass.jpg);
  background-color: aqua;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

  justify-items: center;
}

.enemy {
  grid-column: 3/5;
  grid-row: 3/5;

  height: 150px;
  width: 150px;
}

.user {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 45%;
}

.fireball {
  background-image: url(../../../assets/arena/hero/fire.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 70px;
  width: 150px;
}

.energy {
  width: 65px;
  height: 65px;
  background-image: url(../../../assets/arena/enemy/energy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.healthEnemy {
  grid-column: 2/6;

  width: 100%;
  height: 30px;
}

.healthUser {
  grid-column: 3/5;
  grid-row: 6/7;

  width: 100%;
  height: 30px;
  align-self: end;
}

.toolbar {
  grid-column: 2/3;
  grid-row: 6/7;
  justify-self: end;
  align-self: end;

  width: 70px;
  height: 100px;
  margin: 10px;
}

.endGameContainer {
  position: absolute;
  height: 700px;
  width: 1100px;
  margin-left: 100px;

  display: grid;

  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 35px;
  color: #fff;
}

.button24 {
  color: white;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  transition: 0.2s;
}
.button24:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.button24:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.sound {
  width: 40px;
  height: 40px;
  margin: 10px;
  position: absolute;
}

.exit {
  background-image: url(../../../assets/icons/door.png);
  width: 40px;
  height: 40px;
  margin: 10px 0 0 60px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}
