<div
  class="sound"
  (click)="toggleSound()"
  [ngClass]="{ soundon: isAudioOn, soundoff: !isAudioOn }"
></div>
<div class="exit" (click)="goToHall()"></div>
<div
  class="fireball"
  [ngStyle]="{ transform: degree }"
  #fireball
  *ngIf="isFireVisible"
  [@spell]="{
    value: stateSpell,
    params: { left3: left3, top3: top3, left4: left4, top4: top4, time2: time2 }
  }"
></div>
<div class="endGameContainer" *ngIf="enemyHealth <= 0 || userHealth <= 0">
  <h1>{{ endGameText }}</h1>
  <div class="button24" (click)="restartGame()">Играть снова</div>
</div>

<div
  class="energy"
  #energy1
  [@spellEnemyOne]="{
    value: stateSpellEnemyOne,
    params: { left5: left5, top5: top5, left6: left6, top6: top6, time3: time3 }
  }"
  *ngIf="enemyHealth > 0 && userHealth > 0"
></div>
<div
  class="energy"
  #energy2
  [@spellEnemyTwo]="{
    value: stateSpellEnemyTwo,
    params: { left5: left5, top5: top5, left7: left7, top7: top7, time3: time3 }
  }"
  *ngIf="enemyHealth > 0 && userHealth > 0"
></div>
<div
  class="energy"
  #energy3
  [@spellEnemyThree]="{
    value: stateSpellEnemyThree,
    params: { left5: left5, top5: top5, left8: left8, top8: top8, time3: time3 }
  }"
  *ngIf="enemyHealth > 0 && userHealth > 0"
></div>
<div
  class="energy"
  #energy4
  [@spellEnemyFour]="{
    value: stateSpellEnemyFour,
    params: { left5: left5, top5: top5, left9: left9, top9: top9, time3: time3 }
  }"
  *ngIf="enemyHealth > 0 && userHealth > 0"
></div>
<div
  class="background"
  #background
  (contextmenu)="castSpell($event)"
  (click)="setPoint($event)"
>
  <app-health
    class="healthEnemy"
    data-way="obstacle"
    [health]="enemyHealthPercent"
  ></app-health>
  <div class="enemy" #enemy data-way="obstacle">
    <app-anomaly [health]="enemyHealth"></app-anomaly>
  </div>
  <div class="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <app-health
    class="healthUser"
    data-way="obstacle"
    [health]="userHealthPercent"
  ></app-health>
</div>
<div
  class="user"
  #user
  [ngStyle]="{ top: userTop }"
  [@moving]="{
    value: stateMoving,
    params: { left1: left1, top1: top1, left2: left2, top2: top2, time: time }
  }"
>
  <app-arena-hero
    [stateSteps]="stateSteps"
    [discharge]="dischargeSound"
  ></app-arena-hero>
</div>
