<div class="exit" (click)="goToHall()"></div>
<div
  class="sound"
  (click)="toggleSound()"
  [ngClass]="{ soundon: isAudioOn, soundoff: !isAudioOn }"
></div>
<div class="background">
  <div class="box1 box" (click)="goToFigures()">ФИГУРЫ</div>
  <div class="box2 box" (click)="goToBlackWhite()">ЧЕРНОЕ И БЕЛОЕ</div>
  <div class="box3 box" (click)="goToColors()">ЦВЕТА</div>
  <div class="box4 box" (click)="goToPlayingCards()">ИГРАЛЬНЫЕ КАРТЫ</div>
  <div class="box5 box" (click)="goToCardSuits()">КАРТОЧНЫЕ МАСТИ</div>
  <div class="box6 box" (click)="goToUserDefinedRanged()">
    ПРОИЗВОЛЬНЫЙ<br />&nbsp;&nbsp;ДИАПАЗОН
  </div>
</div>
