.background {
    background-image: url(../assets/fon.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;

    justify-content: center;
}

.workarea {
    width: 1300px;
    height: 700px;
    align-self: center;

    border: solid 6px rgb(47, 129, 0);
    outline: solid 6px rgb(209, 178, 0);

    border-radius: 20px;
}