.background {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/space.jpg);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  justify-items: center;
}

.enemy {
  height: 200px;
  width: 200px;
  background-image: url(../../assets/enemy/812.gif);
  background-size: contain;
  align-self: center;
}

.user {
  position: absolute;
  height: 80px;
  width: 80px;
  background-size: contain;
  left: 0;
  top: 45%;
}

.healthEnemy {
  width: 70%;
  height: 50px;
}

.healthUser {
  width: 30%;
  height: 50px;
  align-self: end;
}

.back1 {
  background-image: url(../../assets/hero/c1.png);
}

.back2 {
  background-image: url(../../assets/hero/c2.png);
}

.face1 {
  background-image: url(../../assets/hero/c3.png);
}

.face2 {
  background-image: url(../../assets/hero/c4.png);
}

.left1 {
  background-image: url(../../assets/hero/c5.png);
}

.left2 {
  background-image: url(../../assets/hero/c6.png);
}

.right1 {
  background-image: url(../../assets/hero/c7.png);
}

.right2 {
  background-image: url(../../assets/hero/c8.png);
}
