<div
    class="hint"
    #hint
    [hidden]="isHintHidden"
    [ngStyle]="{ top: hintTop, left: hintLeft }"
  >
    <app-message [text]="battlefieldDescription"></app-message>
  </div>
<div class="battlefield" #battlefield>
  <div
    class="user"
    #user
    [ngStyle]="{ top: userTop, left: userLeft }"
    [@userMoving]="{
      value: stateUserMoving,
      params: {
        userLeft1: userLeft1,
        userTop1: userTop1,
        userLeft2: userLeft2,
        userTop2: userTop2,
        userLeft3: userLeft3,
        userTop3: userTop3,
        userTimeVertical: userTimeVertical,
        userTimeHorizontal: userTimeHorizontal
      }
    }"
    [@userSteps]="stateUserSteps"
  ></div>
  <div
    class="enemy"
    #enemy
    [@enemyMoving]="{
      value: stateEnemyMoving,
      params: {
        enemyLeft1: enemyLeft1,
        enemyTop1: enemyTop1,
        enemyLeft2: enemyLeft2,
        enemyTop2: enemyTop2,
        enemyLeft3: enemyLeft3,
        enemyTop3: enemyTop3,
        enemyTimeVertical: enemyTimeVertical,
        enemyTimeHorizontal: enemyTimeHorizontal
      }
    }"
    [ngStyle]="{ top: enemyTop, left: enemyLeft }"
    [@enemySteps]="stateEnemySteps"
  ></div>
  <div class="battleSquare" #r6c0 data-row="6" data-col="0"></div>
  <div class="battleSquare" #r6c1 data-row="6" data-col="1"></div>
  <div class="battleSquare" #r6c2 data-row="6" data-col="2"></div>
  <div class="battleSquare" #r6c3 data-row="6" data-col="3"></div>
  <div class="battleSquare" #r6c4 data-row="6" data-col="4"></div>
  <div class="battleSquare" #r6c5 data-row="6" data-col="5"></div>
  <div class="battleSquare" #r6c6 data-row="6" data-col="6"></div>
  <div class="battleSquare" #r5c0 data-row="5" data-col="0"></div>
  <div class="battleSquare" #r5c1 data-row="5" data-col="1"></div>
  <div class="battleSquare" #r5c2 data-row="5" data-col="2"></div>
  <div class="battleSquare" #r5c3 data-row="5" data-col="3"></div>
  <div class="battleSquare" #r5c4 data-row="5" data-col="4"></div>
  <div class="battleSquare" #r5c5 data-row="5" data-col="5"></div>
  <div class="battleSquare" #r5c6 data-row="5" data-col="6"></div>
  <div class="battleSquare" #r4c0 data-row="4" data-col="0"></div>
  <div class="battleSquare" #r4c1 data-row="4" data-col="1"></div>
  <div class="battleSquare" #r4c2 data-row="4" data-col="2"></div>
  <div class="battleSquare" #r4c3 data-row="4" data-col="3"></div>
  <div class="battleSquare" #r4c4 data-row="4" data-col="4"></div>
  <div class="battleSquare" #r4c5 data-row="4" data-col="5"></div>
  <div class="battleSquare" #r4c6 data-row="4" data-col="6"></div>
  <div class="battleSquare" #r3c0 data-row="3" data-col="0"></div>
  <div class="battleSquare" #r3c1 data-row="3" data-col="1"></div>
  <div class="battleSquare" #r3c2 data-row="3" data-col="2"></div>
  <div class="battleSquare" #r3c3 data-row="3" data-col="3"></div>
  <div class="battleSquare" #r3c4 data-row="3" data-col="4"></div>
  <div class="battleSquare" #r3c5 data-row="3" data-col="5"></div>
  <div class="battleSquare" #r3c6 data-row="3" data-col="6"></div>
  <div class="battleSquare" #r2c0 data-row="2" data-col="0"></div>
  <div class="battleSquare" #r2c1 data-row="2" data-col="1"></div>
  <div class="battleSquare" #r2c2 data-row="2" data-col="2"></div>
  <div class="battleSquare" #r2c3 data-row="2" data-col="3"></div>
  <div class="battleSquare" #r2c4 data-row="2" data-col="4"></div>
  <div class="battleSquare" #r2c5 data-row="2" data-col="5"></div>
  <div class="battleSquare" #r2c6 data-row="2" data-col="6"></div>
  <div class="battleSquare" #r1c0 data-row="1" data-col="0"></div>
  <div class="battleSquare" #r1c1 data-row="1" data-col="1"></div>
  <div class="battleSquare" #r1c2 data-row="1" data-col="2"></div>
  <div class="battleSquare" #r1c3 data-row="1" data-col="3"></div>
  <div class="battleSquare" #r1c4 data-row="1" data-col="4"></div>
  <div class="battleSquare" #r1c5 data-row="1" data-col="5"></div>
  <div class="battleSquare" #r1c6 data-row="1" data-col="6"></div>
  <div class="battleSquare" #r0c0 data-row="0" data-col="0"></div>
  <div class="battleSquare" #r0c1 data-row="0" data-col="1"></div>
  <div class="battleSquare" #r0c2 data-row="0" data-col="2"></div>
  <div class="battleSquare" #r0c3 data-row="0" data-col="3"></div>
  <div class="battleSquare" #r0c4 data-row="0" data-col="4"></div>
  <div class="battleSquare" #r0c5 data-row="0" data-col="5"></div>
  <div class="battleSquare" #r0c6 data-row="0" data-col="6"></div>
</div>
