<div class="background">
  <div class="map">
    <app-map></app-map>
  </div>

  <button type="button" class="button buttonAcivateSpell">
    Активировать заклинание
  </button>

  <div class="spell userSpell"></div>

  <div class="points needPoints">
    <div>Необходимо для активации:</div>
    <div>Очки действия: <span id="actionPointsNeed">0</span></div>
    <div>Энергия: <span id="energyPointsNeed">0</span></div>
  </div>

  <div class="points remainActionPoints">
    <div class="smallText">Очки действия</div>
    <div class="bigText" id="actionPoints"></div>
  </div>

  <div class="points remainEnergyPoints">
    <div class="smallText">Энергия</div>
    <div class="bigText" id="energyPoints"></div>
  </div>

  <button type="button" (click)="showEffects()" class="button showEffects">
    Показать эффекты
  </button>

  <button type="button" class="button endMuve">Завершить ход</button>

  <div class="description">
    <app-description></app-description>
  </div>
</div>
