<div class="exit" (click)="goToHall()"></div>
<div class="background">
  <div class="header">
    <div></div>
    <div><h1>Создание героя</h1></div>
    <div class="yellowButton" (click)="goToHelp()">Описание заклинаний</div>
  </div>
  <div class="center">
    <h2>Представтесь</h2>
    <input type="text" class="inputName" />
    <h2>Выберите три стихии</h2>
  </div>
  <div class="elements">
    <div
      class="container elementOne"
      [ngClass]="{ selected: isElementOneSelected }"
      data-element="fire"
      (click)="addElement($event)"
    >
      <div class="picture fire"></div>
      <div class="title">Огонь</div>
    </div>
    <div
      class="container elementTwo"
      [ngClass]="{ selected: isElementTwoSelected }"
      data-element="water"
      (click)="addElement($event)"
    >
      <div class="picture water"></div>
      <div class="title">Вода</div>
    </div>
    <div
      class="container elementThree"
      [ngClass]="{ selected: isElementThreeSelected }"
      data-element="earth"
      (click)="addElement($event)"
    >
      <div class="picture earth"></div>
      <div class="title">Земля</div>
    </div>
    <div
      class="container elementFour"
      [ngClass]="{ selected: isElementFourSelected }"
      data-element="air"
      (click)="addElement($event)"
    >
      <div class="picture air"></div>
      <div class="title">Воздух</div>
    </div>
    <div
      class="container elementFive"
      [ngClass]="{ selected: isElementFiveSelected }"
      data-element="life"
      (click)="addElement($event)"
    >
      <div class="picture life"></div>
      <div class="title">Жизнь</div>
    </div>
    <div
      class="container elementSix"
      [ngClass]="{ selected: isElementSixSelected }"
      data-element="death"
      (click)="addElement($event)"
    >
      <div class="picture death"></div>
      <div class="title">Смерть</div>
    </div>
  </div>
  <div class="center"><h2>Выберите пять форм</h2></div>
  <div class="forms">
    <div
      class="container formOne"
      [ngClass]="{ selected: isFormOneSelected }"
      data-form="spear"
      (click)="addForm($event)"
    >
      <div class="picture spear"></div>
      <div class="title">Копье</div>
    </div>
    <div
      class="container formTwo"
      [ngClass]="{ selected: isFormTwoSelected }"
      data-form="shield"
      (click)="addForm($event)"
    >
      <div class="picture shield"></div>
      <div class="title">Щит</div>
    </div>
    <div
      class="container formThree"
      [ngClass]="{ selected: isFormThreeSelected }"
      data-form="crown"
      (click)="addForm($event)"
    >
      <div class="picture crown"></div>
      <div class="title">Корона</div>
    </div>
    <div
      class="container formFour"
      [ngClass]="{ selected: isFormFourSelected }"
      data-form="source"
      (click)="addForm($event)"
    >
      <div class="picture source"></div>
      <div class="title">Источник</div>
    </div>
    <div
      class="container formFive"
      [ngClass]="{ selected: isFormFiveSelected }"
      data-form="sphere"
      (click)="addForm($event)"
    >
      <div class="picture sphere"></div>
      <div class="title">Сфера</div>
    </div>
    <div
      class="container formSix"
      [ngClass]="{ selected: isFormSixSelected }"
      data-form="stamp"
      (click)="addForm($event)"
    >
      <div class="picture stamp"></div>
      <div class="title">Печать</div>
    </div>
    <div
      class="container formSeven"
      [ngClass]="{ selected: isFormSevenSelected }"
      data-form="key"
      (click)="addForm($event)"
    >
      <div class="picture key"></div>
      <div class="title">Ключ</div>
    </div>
    <div
      class="container formEight"
      [ngClass]="{ selected: isFormEightSelected }"
      data-form="flow"
      (click)="addForm($event)"
    >
      <div class="picture flow"></div>
      <div class="title">Поток</div>
    </div>
    <div
      class="container formNine"
      [ngClass]="{ selected: isFormNineSelected }"
      data-form="power"
      (click)="addForm($event)"
    >
      <div class="picture power"></div>
      <div class="title">Власть</div>
    </div>
  </div>
  <div class="buttons">
    <div class="yellowButton buttonOne" (click)="showData()">
      <div class="text">Игра с компьтером</div>
    </div>
    <div class="yellowButton buttonTwo">
      <div class="text">Поиск противника</div>
    </div>
  </div>
</div>
