<div class="exit" (click)="goToHall()"></div>
<div class="background">
  <div class="header">
    <div><div class="yellowButton">Описание заклинаний</div></div>
    <div><h1>Создание героя</h1></div>
    <div><div class="yellowButton">Регистрация</div></div>
  </div>
  <div class="center">
    <h2>Представтесь</h2>
    <input type="text" class="inputName" />
    <h2>Выберите три стихии</h2>
  </div>
  <div class="elements">
    <div class="container elementOne">
      <div class="picture fire"></div>
      <div class="title">Огонь</div>
    </div>
    <div class="container elementTwo">
      <div class="picture water"></div>
      <div class="title">Вода</div>
    </div>
    <div class="container elementThree">
      <div class="picture earth"></div>
      <div class="title">Земля</div>
    </div>
    <div class="container elementFour">
      <div class="picture air"></div>
      <div class="title">Воздух</div>
    </div>
    <div class="container elementFive">
      <div class="picture life"></div>
      <div class="title">Жизнь</div>
    </div>
    <div class="container elementSix">
      <div class="picture death"></div>
      <div class="title">Смерть</div>
    </div>
  </div>
  <div class="center"><h2>Выберите пять форм</h2></div>
  <div class="forms">
    <div class="container formOne">
      <div class="picture spear"></div>
      <div class="title">Копье</div>
    </div>
    <div class="container formTwo">
      <div class="picture shield"></div>
      <div class="title">Щит</div>
    </div>
    <div class="container formThree">
      <div class="picture crown"></div>
      <div class="title">Корона</div>
    </div>
    <div class="container formFour">
      <div class="picture source"></div>
      <div class="title">Источник</div>
    </div>
    <div class="container formFive">
      <div class="picture sphere"></div>
      <div class="title">Сфера</div>
    </div>
    <div class="container formSix">
      <div class="picture stamp"></div>
      <div class="title">Печать</div>
    </div>
    <div class="container formSeven">
      <div class="picture key"></div>
      <div class="title">Ключ</div>
    </div>
    <div class="container formEight">
      <div class="picture flow"></div>
      <div class="title">Поток</div>
    </div>
    <div class="container formNine">
      <div class="picture power"></div>
      <div class="title">Власть</div>
    </div>
  </div>
  <div class="buttons">
    <div class="yellowButton buttonOne">
      <div class="text">Игра с компьтером</div>
    </div>
    <div class="yellowButton buttonTwo">
      <div class="text">Поиск противника</div>
    </div>
  </div>
</div>
