<div
  class="sound"
  (click)="toggleSound()"
  [ngClass]="{ soundon: isAudioOn, soundoff: !isAudioOn }"
></div>
<div class="exit" (click)="goToMenu()"></div>
<div class="background">
  <div class="boxMain">
    <div class="mainPicture">
      <div
        [ngClass]="{
          triangle: isTriangle,
          triangle2: isTriangle2,
          square: isSquare,
          square2: isSquare2,
          hexagon: isHexagon,
          hexagon2: isHexagon2
        }"
      ></div>
    </div>
  </div>
  <div class="box box1" (click)="showPicture($event)" data-picture="triangle">
    <div class="picture"><div class="triangle"></div></div>
  </div>
  <div class="box box2" (click)="showPicture($event)" data-picture="triangle2">
    <div class="picture"><div class="triangle2"></div></div>
  </div>
  <div class="box box3" (click)="showPicture($event)" data-picture="square">
    <div class="picture"><div class="square"></div></div>
  </div>
  <div class="box box4" (click)="showPicture($event)" data-picture="square2">
    <div class="picture"><div class="square2"></div></div>
  </div>
  <div class="box box5" (click)="showPicture($event)" data-picture="hexagon">
    <div class="picture"><div class="hexagon"></div></div>
  </div>
  <div class="box box6" (click)="showPicture($event)" data-picture="hexagon2">
    <div class="picture"><div class="hexagon2"></div></div>
  </div>
  <div class="bottom">
    <app-intuition-bottom [rightAnswers]="rightAnswers" [wrongAnswers]="wrongAnswers" [percentHint]="percentHint"></app-intuition-bottom>
</div>
</div>
