<div class="background" #background>
  <div class="forbidden"></div>
  <div class="workarea" (click)="setPoint($event)"></div>
  <div
    class="intuitionStand"
    #stand
    (click)="setPoint($event)"
    [ngStyle]="{ top: standTop, left: standLeft }"
    (mouseover)="showHintStand()"
    (mouseout)="hideHintStand()"
  ></div>
  <div
    class="portalArena"
    [ngStyle]="{ top: portalTop, left: portalLeft }"
    (click)="setPoint($event)"
    data-goal="portal"
    #portal
    (mouseover)="showHintPortal()"
    (mouseout)="hideHintPortal()"
  ></div>
</div>
<div
  class="user right1"
  [ngStyle]="{ top: userTop, left: userLeft }"
  #user
  [@moving]="{
    value: stateMoving,
    params: { left1: left1, top1: top1, left2: left2, top2: top2, time: time }
  }"
  [@steps]="stateSteps"
></div>
<div
  class="hint"
  #hintPortal
  [hidden]="isHintPortalHidden"
  [ngStyle]="{ top: hintPortalTop, left: hintPortalLeft }"
>
  <app-hint [text]="portalText"></app-hint>
</div>
<div
  class="hint"
  #hintStand
  [hidden]="isHintStandHidden"
  [ngStyle]="{ top: hintStandTop, left: hintStandLeft }"
>
  <app-hint [text]="standText"></app-hint>
</div>
