<div class="background">
  <div class="firstForm">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="secondForm">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="thirdForm">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="fourthForm">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="fifthForm">
    <app-element-or-form-name></app-element-or-form-name>
  </div>

  <div class="firstElement">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="secondElement">
    <app-element-or-form-name></app-element-or-form-name>
  </div>
  <div class="thirdElement">
    <app-element-or-form-name></app-element-or-form-name>
  </div>

  <div class="health">
    <app-health [health]="healthPercent"></app-health>
  </div>
</div>
