<div class="background">
  <div class="firstForm">
    <app-element-or-form-name
      [name]="firstForm"
      [russianName]="firstFormRussianName"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="secondForm">
    <app-element-or-form-name
      [name]="secondForm"
      [russianName]="secondFormRussianName"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="thirdForm">
    <app-element-or-form-name
      [name]="thirdForm"
      [russianName]="thirdFormRussianName"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="fourthForm">
    <app-element-or-form-name
      [name]="fourthForm"
      [russianName]="fourthFormRussianName"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="fifthForm">
    <app-element-or-form-name
      [name]="fifthForm"
      [russianName]="fifthFormRussianName"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>

  <div class="firstElement">
    <app-element-or-form-name
      [name]="firstElement"
      [russianName]="firstElementRussianName"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>
  <div class="secondElement">
    <app-element-or-form-name
      [name]="secondElement"
      [russianName]="secondElementRussianName"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>
  <div class="thirdElement">
    <app-element-or-form-name
      [name]="thirdElement"
      [russianName]="thirdElementRussianName"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>

  <div class="health">
    <app-duels-health
      [health]="health"
      [maxHealth]="maxHealth"
    ></app-duels-health>
  </div>
</div>
