<div class="background">
  <div class="firstForm">
    <app-element-or-form-name
      [name]="firstForm"
      [russianName]="firstFormInRussian"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="secondForm">
    <app-element-or-form-name
      [name]="secondForm"
      [russianName]="secondFormInRussian"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="thirdForm">
    <app-element-or-form-name
      [name]="thirdForm"
      [russianName]="thirdFormInRussian"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="fourthForm">
    <app-element-or-form-name
      [name]="fourthForm"
      [russianName]="fourthFormInRussian"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>
  <div class="fifthForm">
    <app-element-or-form-name
      [name]="fifthForm"
      [russianName]="fifthFormInRussian"
      [type]="'form'"
    ></app-element-or-form-name>
  </div>

  <div class="firstElement">
    <app-element-or-form-name
      [name]="firstElement"
      [russianName]="firstElementInRussian"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>
  <div class="secondElement">
    <app-element-or-form-name
      [name]="secondElement"
      [russianName]="secondElementInRussian"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>
  <div class="thirdElement">
    <app-element-or-form-name
      [name]="thirdElement"
      [russianName]="thirdElementInRussian"
      [type]="'element'"
    ></app-element-or-form-name>
  </div>

  <div class="health">
    <app-duels-health
      [health]="health"
      [maxHealth]="maxHealth"
    ></app-duels-health>
  </div>
</div>
