<div class="exit" (click)="goToMenu()"></div>
<div class="background">
  <div
    class="boxMain"
    [ngClass]="{
      black: isBlack,
      white: isWhite
    }"
  ></div>
  <div class="box box1" (click)="showColor($event)" data-color="black"></div>
  <div class="box box2" (click)="showColor($event)" data-color="white"></div>
  <div class="percent">{{ percent }}</div>
  <div class="ratio">{{ ratio }}</div>
  <div class="scale">
    <app-scale [percentRightAnswers]="percentRightAnswers"></app-scale>
  </div>
</div>
