.messege {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.37);
  width: 1300px;
  height: 1236px;
  z-index: 1;

  display: flex;

  align-items: center;
  justify-content: center;
}

.background {
  background-image: url(../../../assets/duels/gameBackground.jpg);
  background-size: cover;
}

.enemy {
  height: 110px;
}

.user {
  background-image: url(../../../assets/duels/usersBackground.jpg);
  height: 200px;
}
