.effects {
  position: absolute;
}

.background {
  background-image: url(../../../assets/duels/gameBackground.jpg);
  background-size: cover;
}

.enemy {
  height: 110px;
}

.centre {
  //height: 600px;
}

.user {
  background-image: url(../../../assets/duels/usersBackground.jpg);
  height: 200px;
}
